body {

}
h1 {

}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 25px;
        text-align: center;
    }

    p {
        font-size: 20px;
    }

    h2 {
        text-align: center;
    }

    figure {
        margin: 15px;
    }

    body {
        margin: 15px;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-color: grey;
    }

    p {
        font-size: 30px;
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    figure {
        text-align: center;
    }
}

@media screen and (min-width: 800px) and (max-width: 1300px) {
    body {
        background-color: red;
    }

    h1, h2, figure {
        text-align: center;
    }

    figure {
        margin: 15px;
    }

    p {
        font-size: 30px;
    }
}