.header-main {
    background-color: gray;
    padding-top: 5px;
}

.nav-contact {
    background-color: greenyellow;
}

.nav-contact li {
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
    margin: 5px;
}
